.Result {
  background-color: #16191d;
  width: fit-content;
  list-style: none;
}

.Result img {
  margin: 0px 10px;
}

.Result .link {
  text-align: right;
}

.Result a {
  color: #28b39d;
  text-decoration: none;
}

.Result .favorite {
  color: red;
}
